<!doctype html>
<html ng-app="app">
<head>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-touch.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-animate.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/csv.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/pdfmake.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/vfs_fonts.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <!--<script src="http://ui-grid.info/release/ui-grid-unstable.js"></script>-->
    <!--<link rel="stylesheet" href="http://ui-grid.info/release/ui-grid-unstable.css" type="text/css">-->

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <script src="ui-bootstrap-tpls-0.12.1.js"></script>
    <script src="3.0.0-rc.19/ui-grid.js"></script>
    <link rel="stylesheet" href="3.0.0-rc.19/ui-grid.css" type="text/css">

    <link rel="stylesheet" href="main.css" type="text/css">

    <script type="text/ng-template" id="accessModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">Consent to monitor</h3>
        </div>
        <div class="modal-body">
            <div ng-repeat="comp in sharedData.comps | filter: myFilter">
                <input type="checkbox" ng-model="sharedData.selectedComps[comp]" >{{comp}}
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
        </div>
    </script>

</head>
<body ng-controller="mainCtrl">

<div ng-include="'topnav.html'"></div>

<div class="container-fluid" >
    <div class="row">
        <testingtrans ng-controller="testCtrl"></testingtrans>
        {{sharedData}}
    </div>
    <div class="row">
        <div class="col-md-3">
            <div ng-include="'sidenav.html'"></div>
        </div>
        <div class="col-md-9">
            <div class="well" ui-view></div>
        </div>
    </div>
</div>


<div ng-include="'bottom.html'"></div>

<script src="app.js"></script>
<script src="mainCtrl.js"></script>
<script src="//angular-ui.github.io/ui-router/release/angular-ui-router.js"></script>
<script src="controllers/edit.js"></script>

</body>
</html>
